@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	direction: rtl;
	font-family: Noto Naskh Arabic;
}
.form-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	.form-col {
		width: 100%;
	}
	.form-btn {
		/* width: Hug (188px)px;height: Fixed (44px)px; */
		padding: 10px 40px 10px 40px;
		border-radius: 15px;
		background: #ef8114;
		color: white;
	}
}
.k-form-item {
	--el-font-size-base: 20px;
	--k-form-label-color: black;
	--k-form-input-color: #808080;
	--el-input-placeholder-color: #b3b3b3;
	width: 100%;
	font-family: Noto Naskh Arabic;
	&.preset {
		--k-form-label-color: #808080;
		--k-form-input-color: #020202;
	}
	.el-form-item__label {
		text-align: right;
		padding: 0;
		color: var(--k-form-label-color);
		direction: ltr;
		font-size: 16px;
		font-weight: 500;
		line-height: 27.25px;
		margin-bottom: 6px;
	}

	.el-input {
		--el-input-border-radius: 15px;
		--el-input-border-color: #d9d9d9;
		--el-input-focus-border-color: #800080;
		--el-input-hover-border-color: #666666;
		--el-input-text-color: var(--k-form-input-color);
		--el-disabled-bg-color: transparent;
		.el-input__wrapper {
			.el-input__inner {
				height: 44px;
				font-size: 16px;
				font-weight: 500;
				line-height: 27.25px;
			}
		}
		&.is-disabled {
			cursor: default;
			.el-input__inner {
				cursor: default;
			}
		}
	}
	.el-form-item__error {
		right: 0;
	}
	.el-select {
		--el-color-primary: #800080;
		--el-input-border-radius: 15px;
		--el-input-border-color: #d9d9d9;
		--el-input-focus-border-color: #800080;
		--el-input-hover-border-color: #666666;
		--el-input-text-color: var(--k-form-input-color);
		--el-border-color-hover: var(--el-input-hover-border-color);
		.el-select__wrapper {
			height: 44px;
			border-radius: 15px;
			text-align: right;
			font-size: 20px;
		}
	}
	.el-textarea {
		--el-input-border-radius: 15px;
		--el-input-border-color: #d9d9d9;
		--el-input-focus-border-color: #800080;
		--el-input-hover-border-color: #666666;
		--el-input-text-color: var(--k-form-input-color);
		--el-disabled-bg-color: transparent;
	}

	// .el-select__wrapper.is-focused
}

.k-dropdown-menu {
	padding: 0;
	overflow: hidden;
	--el-dropdown-menuItem-hover-fill: #e6e6e6;
	--el-dropdown-menuItem-hover-color: #666666;
	--el-text-color-regular: #666666;
	--el-border-radius-base: 5px;
	--el-font-size-base: 16px;
	.el-dropdown-menu__item {
		padding: 7px 12px;
	}
}
