@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	direction: rtl;
	font-family: Noto Naskh Arabic;
}
.form-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	.el-form-item__label {
		font-family: Noto Naskh Arabic;
		font-size: 18px;
		font-weight: 500;
		line-height: 30.65px;
		text-align: right;
		padding: 0 0 8px 0;
		color: black;
		direction: ltr;
	}
	.form-col,
	.el-form-item {
		width: 100%;
		.el-input {
			--el-input-border-radius: 15px;
			--el-input-border-color: #d9d9d9;
			.el-input__inner {
				// width: 100%;
				height: 51px;
				// padding: 13px 16px 13px 16px;
				// border-radius: 15px;
				// border: 1px solid rgba(217, 217, 217, 1);
			}
		}
		.el-form-item__error {
			right: 0;
		}
		.el-select__wrapper {
			height: 53px;
			border-radius: 15px;
			text-align: right;
		}
	}
	.form-btn {
		/* width: Hug (188px)px;height: Fixed (44px)px; */
		padding: 10px 40px 10px 40px;
		border-radius: 15px;
		background: #ef8114;
		color: white;
	}
}
